*ipynb
nad83/*.o
code/*.pyc
pickles/*
*.pyc
uber_data/*
street_centerlines/*
street_nodes/*
traffic_density/*
traffic_signals/*
bus_data/*
.ipynb_checkpoints/
here_app.txt
liljonnystyle.pem
uber_misc/*