<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>J-Routing Style</title>
    
    <link rel="stylesheet" href=" {{url_for('static', filename = 'style.css') }}" type = "text/css">
    <style>
     
    </style>
  </head>
  <body>
    <div id="nav-box">
        <form action="/">
          From: <input type="text" name="source" size=50 value="2000 mission st, san francisco, ca">
          <br>
          To: &nbsp;&nbsp;<input type="text" name="destination" size=50 value="542 shotwell st, san francisco, ca">
          <br>
          <select>
            <option value="morning">Morning Rush Hour</option>
            <option value="afternoon">Afternoon Rush Hour</option>
            <option value="other">Other</option>
          </select>
          <input type="submit" value="Get going!" id="directions-submit">
        </form>
      </div>
    </div>
    <div id="out-box"></div>
    <div id="map-canvas"></div>

    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='mapping.js') }} "></script>
    
  </body>
</html>